<!DOCTYPE html>
<html>
<head>
    <title>Premium Car Servicing</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

</head>
<body style="background-color: black;">
    <div class="hero">
        <nav><%- include("header.ejs")  %></nav>
        <div class="hero_text">
            <div class="text">
                <h1>Premium Car Servicing</h1>
                <h2>for a Smoother Drive and <br>
                    Unmatched Reliability</h2>
                <h3>Expert Technicians, Transparent<br> Pricing, and Reliable Repairs to <br>Keep Your Vehicle in Top Condition</h3>
            </div>
        </div>

        <div class="quality">
            <div class="quality1">
                <img src="\images\\best-prices.png" alt="best-prices">
                <div class="txt">
                    <h4 id="color_nav">Best Prices</h4>
                    <p id="color_nav">all part are avaible here</p>
                </div>
            </div>
            <div class="quality1">
                <img src="\images\\guarantee.png" alt="gt">
                <div class="txt">
                    <h4 id="color_nav">100% guarantee</h4>
                    <p id="color_nav">we provides full guarantee</p>
                </div>
            </div>
            <div class="quality1">
                <img src="\images\\certified.png" alt="crt">
                <div class="txt">
                    <h4 id="color_nav">certified</h4>
                    <p id="color_nav">we provide certified service</p>
                </div>
            </div>
        </div>
    </div>

    <!-- top category -->
    <div class="top_category">
        <h1 style="color: white;">Top Categories</h1>
        <div class="cir1">
            <img src="\images\Ellipse 1.png" alt="">
        </div>
        <div class="cir">
            <img src="\images\Ellipse 2.png" alt="">
        </div>
        <div class="all_facility">
            <div class="facility">
                <img src="\images\Single-Content.png" alt="">
            </div>
            <div class="facility">
                <img src="\images\Single-Content (1).png" alt="">
            </div>
            <div class="facility">
                <img src="\images\Single-Content (2).png" alt="">
            </div>
            <div class="facility">
                <img src="\images\Single-Content (3).png" alt="">
            </div>
            <div class="facility">
                <img src="\images\Single-Content (4).png" alt="">
            </div>
            <div class="facility">
                <img src="\images\Single-Content (5).png" alt="">
            </div>
        </div>
    </div>

    <!-- why choose us -->
    <div class="why_us">
        <div class="left">
            <h2>Why choose us ?</h2>
            <h4 id="color_nav">Experience the best in car price <br> Listing the user friendly design.</h4>
            <p id="color_nav">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo maxime soluta cum distinctio optio non reiciendis excepturi perferendis sit rerum possimus voluptatum, nihil eum eligendi aut assumenda! Nihil, recusandae tempora.</p>
            <div class="check">
                <div class="fast_delivary"></div>
                <div class="certified_product"></div>
            </div>
        </div>

        <div class="right">
            <img src="\images\photoss.png" alt="">
        </div>
    </div>

    <!-- most popular item uses dynamic -->
    <div class="top_category">
        <h1 style="color: white;">Most Popular items</h1>
        <%- include("item.ejs") %>
    </div>

    <!-- faqs -->
     <div class="faqs">
        <div class="top_category">
            <h1 style="color: white;">Frequently Ask Questions(<span style="color: yellow;">FAQs</span>)</h1>
        </div>
        <div class="faq_ans">
            <div class="ques">
                <div class="bar">
                    <p id="color_nav">What type of car services do you offer?</p>
                    <img src="\images\Button Circle.png" alt="" id="plus">
                </div>
            </div>
            <div class="ans" id="minus">
                <div class="answer">
                    <p id="color_nav">What type of car services do you offer?<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod voluptate mollitia ea sint distinctio, vel, veniam eligendi odit deleniti veritatis quos ullam<br> ut maxime dignissimos quisquam ab quam provident consequatur officiis accusamus!</p>
                    <div class="neg">
                        <i class="fa-solid fa-minus" style="color: white;"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="faq_ans">
            <div class="ques">
                <div class="bar">
                    <p id="color_nav">What type of car services do you offer?</p>
                    <img src="\images\Button Circle.png" alt="" id="plus">
                </div>
            </div>
            <div class="ans">
                <div class="answer">
                    <p id="color_nav">What type of car services do you offer?<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod voluptate mollitia ea sint distinctio, vel, veniam eligendi odit deleniti veritatis quos ullam<br> ut maxime dignissimos quisquam ab quam provident consequatur officiis accusamus!</p>
                    <div class="neg">
                        <i class="fa-solid fa-minus" style="color: white;"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="faq_ans">
            <div class="ques">
                <div class="bar">
                    <p id="color_nav">What type of car services do you offer?</p>
                    <img src="\images\Button Circle.png" alt="" id="plus">
                </div>
            </div>
            <div class="ans">
                <div class="answer">
                    <p id="color_nav">What type of car services do you offer?<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod voluptate mollitia ea sint distinctio, vel, veniam eligendi odit deleniti veritatis quos ullam<br> ut maxime dignissimos quisquam ab quam provident consequatur officiis accusamus!</p>
                    <div class="neg">
                        <i class="fa-solid fa-minus" style="color: white;"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="faq_ans">
            <div class="ques">
                <div class="bar">
                    <p id="color_nav">What type of car services do you offer?</p>
                    <img src="\images\Button Circle.png" alt="" id="plus">
                </div>
            </div>
            <div class="ans" id="minus">
                <div class="answer">
                    <p id="color_nav">What type of car services do you offer?<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod voluptate mollitia ea sint distinctio, vel, veniam eligendi odit deleniti veritatis quos ullam<br> ut maxime dignissimos quisquam ab quam provident consequatur officiis accusamus!</p>
                    <div class="neg">
                        <i class="fa-solid fa-minus" style="color: white;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- marquee tags company slideshow -->
      <div class="position-relative marquee-container d-none d-sm-block" id="marq">
        <!-- 1st marquee  -->
        <div class="marquee d-flex justify-content-around">
            <img src="/images/image 1133.png" alt="BTC" height="70" width="100" class="comp">
            <img src="/images/image 1134.png" alt="XRP" height="70" width="100" class="comp">
            <img src="/images/image 1135.png" alt="ETH" height="70" width="100" class="comp">
            <img src="/images/image 1136.png" alt="EOS" height="70" width="100" class="comp">
            <img src="/images/image 1137.png" alt="USDT"height="70" width="100" class="comp">
            <img src="/images/image 1138.png" alt="LTC" height="70" width="100" class="comp">
        </div>
        <!-- 2nd marquee  -->
        <div class="marquee marquee2 d-flex justify-content-around">
          <img src="/images/image 1133.png" alt="BTC"   height="70" width="100" class="comp">
            <img src="/images/image 1134.png" alt="XRP" height="70" width="100" class="comp">
            <img src="/images/image 1135.png" alt="ETH" height="70" width="100" class="comp">
            <img src="/images/image 1136.png" alt="EOS" height="70" width="100" class="comp">
            <img src="/images/image 1137.png" alt="USDT"height="70" width="100" class="comp">
            <img src="/images/image 1138.png" alt="LTC" height="70" width="100" class="comp">
        </div>
      </div>

    <div class="container mt-5">
        <div class="satisfaction">
            <h2 id="color_nav">Voices of <span class="stf">Satisfaction </span></h2>
            <h4 id="color_nav">What our client say ?</h4>
        </div>
        <div class="row">
          <!-- First Testimonial Card -->
          <div class="col-md d-flex justify-content-center" id="box">
            <div class="card testimonial-card p-4 border-custom">
              <div class="d-flex justify-content-between">
                <div class="d-flex">
                  <img src="https://via.placeholder.com/50" alt="Profile Picture" class="rounded-circle me-3" width="50">
                  <div>
                    <h6 class="mb-0">Jacob Ortega</h6>
                    <div class="text-warning">
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                    </div>
                  </div>
                </div>
                <div class="text-light">
                  10 June 2024
                </div>
              </div>
              <p class="mt-3 text-light">
                "The comprehensive services offered by this auto shop were impressive. I appreciate their extended working hours, which are highly convenient for busy individuals. They also provide a free vehicle health checkup with every service, emphasizing their commitment to the customer’s safety."
              </p>
            </div>
          </div>
    
          <!-- Second Testimonial Card -->
          <div class="col-md d-flex justify-content-center" id="box">
            <div class="card testimonial-card p-4 border-custom">
              <div class="d-flex justify-content-between">
                <div class="d-flex">
                  <img src="https://via.placeholder.com/50" alt="Profile Picture" class="rounded-circle me-3" width="50">
                  <div>
                    <h6 class="mb-0">Emily Rose</h6>
                    <div class="text-warning">
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                    </div>
                  </div>
                </div>
                <div class="text-light">
                  5 May 2024
                </div>
              </div>
              <p class="mt-3 text-light">
                "Their staff is very professional and knowledgeable. The service is top-notch, and I’m very happy with the results. They go above and beyond to ensure satisfaction."
              </p>
            </div>
          </div>
    
          <!-- Third Testimonial Card -->
          <div class="col-md d-flex justify-content-center" id="box">
            <div class="card testimonial-card p-4 border-custom">
              <div class="d-flex justify-content-between">
                <div class="d-flex">
                  <img src="https://via.placeholder.com/50" alt="Profile Picture" class="rounded-circle me-3" width="50">
                  <div>
                    <h6 class="mb-0">Michael Brown</h6>
                    <div class="text-warning">
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                      <i class="bi bi-star-fill"></i>
                    </div>
                  </div>
                </div>
                <div class="text-light">
                  15 April 2024
                </div>
              </div>
              <p class="mt-3 text-light">
                "I love how they provide detailed feedback on the car's condition. Their recommendations were helpful, and I felt confident leaving my vehicle in their care."
              </p>
            </div>
          </div>
        </div>
      </div>

    <footer><%- include("footer.ejs") %></footer>
    <script src="/script/script.js"></script>
</body>
</html>
